<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Calculator</title>
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
</head>

<body>

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto fs-5">

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="../../index.html">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#">Code</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Template</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--End NavBar -->

    <!-- code  -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-xl-8 col-xxl-8 col-sm-12">
                <img src="../img/gradecalculator.png" alt="" class="img-fluid w-100">

                <h3>Grade Calculator </h3>
                <h6>Hello readers, Today in this blog you’ll learn How to create an Grade Calculator  Using html, css,
                    Javascript </h6>
                <p>
                    In this program (Grade Calculator  using html, css, Javascript), on the webpage, there is a Grade Calculator with
                     input field geting marks  and calculate total mark, percentage, and grade of student .
                </p>

                <p>
                    That’s all, now you’ve successfully Create a Grade Calculator using html, css, javascript. Please download
                    the source code from the given
                    download button
                </p>

                <p>
                    I Hope this blog will be helpful.
                </p>

                <button type="button" class="btn btn-danger w-100"
                    onclick="location.href='https://onedrive.live.com/download?cid=E7CC0E06545812EE&resid=E7CC0E06545812EE%21122&authkey=AOAReC-QOpLD2qU'">Download
                    Code</button>

            </div>
        </div>


        <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>